<h1><%= @list.name</h1> %>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>

<ul>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(movie_id: movie, list_id: @list) %>
    <li><%= movie.title %> <%= link_to 'delete bookmark', list_movie_bookmark_path(@list, movie, bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this bookmark?'} %></li>
  <% end %>
</ul>

<%= simple_form_for [@list, @list.bookmarks.build] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
